{
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "indent": [
      "warn",
      2
    ],
    "eqeqeq": [
      "error",
      "smart"
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "env": {
    "node": true
  }
}