{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false
        },
        "target": "esnext",
        "keepClassNames": true,
        "baseUrl": ".",
        "paths": {
            "@/*": [
                "src/*"
            ]
        }
    },
    "module": {
        "type": "es6"
    },
    "sourceMaps": true
}